<ion-header>
  <ion-toolbar class="custom-toolbar">

    <ion-buttons slot="start">
      <ion-icon name="arrow-back-outline" size="large"></ion-icon>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-icon name="create-outline" size="large"></ion-icon>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- PERFIL -->
  <div class="perfil-container">

    <img 
    src="https://randomuser.me/api/portraits/men/32.jpg"
    class="perfil-foto">

    <h2>Benito M.</h2>

    <p class="telefone">14 87453-2345</p>

    <ion-button class="botao-post">
      Nova postagem
    </ion-button>

  </div>

  <div class="linha"></div>

  <h3 class="titulo-post">Postagens Passadas</h3>


  <!-- CARD 1 -->
  <div class="post-card">

    <div class="post-header">
      Gato - Macho
      <span>6 meses</span>
    </div>

    <div class="post-content">

      <img 
      src="https://cdn.pixabay.com/photo/2017/11/09/21/41/cat-2934720_640.jpg"
      class="post-img">

      <p>
        A gata da minha irmã deu cria e ela não quer mais gatos, então estamos doando...
      </p>

    </div>

  </div>


  <!-- CARD 2 -->
  <div class="post-card">

    <div class="post-header">
      Remédios
    </div>

    <div class="post-content">

      <img 
      src="https://images.unsplash.com/photo-1583511655857-d19b40a7a54e?w=400"
      class="post-img">

      <p>
        Eu tenho o Thor desde pequeno e agora ele já está velhinho, mas infelizmente não tenho dinheiro para os remédios.
      </p>

    </div>

  </div>

</ion-content>