<ion-header>
  <ion-toolbar color="primary" style="display: flex; align-items: center; justify-content: space-between; padding: 0 10px;">
    <div style="display: flex; align-items: center;">
      <ion-icon name="person" size="large" style="margin-right: 8px; margin-left: 0.1px;"></ion-icon>
      <ion-title style="margin-left: 4px;">Perfil</ion-title>
    </div>
    <ion-buttons slot="end" (click)="editPerfil()">
      <ion-icon name="create" size="large"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="perfil-container">
    
    <ion-avatar *ngIf="usuario?.fotoUrl" style="width: 120px; height: 120px; margin: 0 auto;">
      <img [src]="usuario.fotoUrl" alt="Foto de Perfil" style="object-fit: cover; width: 100%; height: 100%;" />
    </ion-avatar>

    <h2>{{ usuario.nome }}</h2>
    <p class="telefone">{{ usuario.telefone }}</p>

    <ion-button class="botao-post" (click)="adicionar()">
      Nova postagem
    </ion-button>

  </div>

  <div class="linha"></div>

  <h3 class="titulo-post">Postagens Passadas</h3>

  <div *ngIf="minhasPostagens.length === 0" style="text-align: center; color: #888; padding: 20px;">
    <ion-icon name="document-text-outline" size="large"></ion-icon>
    <p>Você ainda não fez nenhuma postagem.</p>
  </div>

  <div class="post-card" *ngFor="let post of minhasPostagens">

    <div class="post-header" style="display: flex; justify-content: space-between;">
      <span>{{ post.titulo }}</span>
      <span *ngIf="post.idade">{{ post.idade }} ano(s)</span>
    </div>

    <div class="post-content">
      
      <img 
        [src]="post.foto ? 'http://localhost:3000/uploads/' + post.foto : 'https://via.placeholder.com/400x200/e0e0e0/808080?text=Sem+Foto'"
        class="post-img" alt="Foto da postagem">

      <p>
        {{ post.descricao }}
      </p>

    </div>

  </div>

</ion-content>