ion-content{
--background:#f2f2f2;
}

.custom-toolbar{
--background:white;
color:#66d9a6;
}

.perfil-container{
text-align:center;
padding:20px;
}

.perfil-foto{
width:120px;
height:120px;
border-radius:50%;
border:4px solid #66d9a6;
object-fit:cover;
margin-bottom:10px;
}

.telefone{
color:#888;
margin-top:-5px;
}

.botao-post{
--background:#66d9a6;
--border-radius:20px;
margin-top:10px;
}

.linha{
height:1px;
background:#ddd;
margin:20px;
}

.titulo-post{
text-align:center;
color:#999;
font-size:14px;
}

.post-card{
margin:16px;
border-radius:20px;
background:white;
box-shadow:0 4px 10px rgba(0,0,0,0.15);
overflow:hidden;
}

.post-header{
background:#66d9a6;
color:white;
padding:10px 16px;
display:flex;
justify-content:space-between;
}

.post-content{
display:flex;
gap:12px;
padding:16px;
}

.post-img{
width:80px;
height:80px;
border-radius:8px;
object-fit:cover;
}