<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div id="container">
    <img class="logo-superior" src="https://i.pinimg.com/736x/18/e7/9a/18e79a4afd519301fe6d3ef6fa4e7594.jpg" alt="Logo">

    <div class="card-login">
      <ion-item class="input-field">
        <ion-label position="stacked">Usuário</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>

      <ion-item class="input-field">
        <ion-label position="stacked">Senha</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>

      <div class="forgot-password">
        Esqueci a senha
      </div>
    </div>

    <ion-button expand="block" class="ion-margin-top meu-botao">
      Entrar
    </ion-button>
  </div>
</ion-content>