#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.meu-botao {
  --background: #99F6C0;
  --background-hover: #88E5B0;
  --border-radius: 50px;
  width: 256px;
  height: 90px;
}