<ion-header>
  <ion-toolbar color="success">
    <ion-title>Doe</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="search-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="page-content">

  <div class="doacoes-wrapper">
    <!-- Card 1 -->
    <ion-card class="doacao-card">
      <ion-card-header class="doacao-header">
        <ion-card-title>Ajude o Jorge</ion-card-title>
      </ion-card-header>
      <div class="doacao-body">
        <ion-img src="https://placekitten.com/300/200"></ion-img>
        <p>Recentemente eu descobri que meu gato tem alopecia, e infelizmente eu não tenho...</p>
      </div>
    </ion-card>

    <!-- Card 2 -->
    <ion-card class="doacao-card">
      <ion-card-header class="doacao-header">
        <ion-card-title>Falta de ração</ion-card-title>
      </ion-card-header>
      <div class="doacao-body">
        <ion-img src="https://placedog.net/400?id=21"></ion-img>
        <p>Eu sou dono de um abrigo pra cachorros, eu mesmo cuido deles e todo o custo da comida vem...</p>
      </div>
    </ion-card>

    <!-- Card 3 -->
    <ion-card class="doacao-card">
      <ion-card-header class="doacao-header">
        <ion-card-title>Remedios</ion-card-title>
      </ion-card-header>
      <div class="doacao-body">
        <ion-img src="https://placedog.net/400?id=25"></ion-img>
        <p>Eu tenho o Tor desde pequeno e agora ele já tá velhinho, mas eu infelizmente não tenho dinheiro pra...</p>
      </div>
    </ion-card>
  </div>

</ion-content>

<ion-footer>
  <ion-toolbar class="app-footer">
    <nav class="bottom-nav">
      <a routerLink="/adote" class="nav-item">
        <ion-icon name="heart"></ion-icon>
        <span>Adoções</span>
      </a>

      <a href="/front-tcc/src/app/tab2/tab2.page.html" class="nav-item active">
        <ion-icon name="cash-outline"></ion-icon>
        <span>Doações</span>
      </a>

      <button class="add-button">
        <ion-icon name="add"></ion-icon>
      </button>

      <a href="#" class="nav-item">
        <ion-icon name="chatbubble-outline"></ion-icon>
        <span>Denúncias</span>
      </a>

      <a href="#" class="nav-item">
        <ion-icon name="person-outline"></ion-icon>
        <span>Perfil</span>
      </a>
    </nav>
  </ion-toolbar>
</ion-footer>
