<ion-header [translucent]="true">
  <ion-toolbar class="toolbar-transparente">
    <ion-buttons slot="start">
      <ion-button (click)="goToCodigo()" fill="clear" class="btn-voltar">
        <ion-icon name="arrow-back-outline" class="seta-voltar"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" scroll-y="false">
  <div class="login-container">
    <div class="content-wrapper">

      <div class="logo-container">
        <div class="logo-circle">
          <ion-icon name="paw" class="logo-icon"></ion-icon>
        </div>
      </div>

      <h1 class="login-title">Redefinir Senha</h1>
      <p class="descricao">Digite a nova senha e confirme</p>

      <div class="form-container">

        <!-- Nova senha -->
        <div class="input-group">
          <div class="input-wrapper">
            <ion-icon name="lock-closed-outline" class="input-icon"></ion-icon>
            <ion-input
              class="custom-input"
              placeholder="Nova senha"
              type="password"
              [(ngModel)]="novaSenha">
            </ion-input>
          </div>
        </div>

        <!-- Confirmar senha -->
        <div class="input-group">
          <div class="input-wrapper">
            <ion-icon name="lock-closed-outline" class="input-icon"></ion-icon>
            <ion-input
              class="custom-input"
              placeholder="Confirmar senha"
              type="password"
              [(ngModel)]="confirmarSenha">
            </ion-input>
          </div>
        </div>

        <!-- Mensagem de erro ou sucesso -->
        <div *ngIf="mensagemErro" class="mensagem-erro" [ngClass]="{'sucesso': mensagemErro === 'Senha redefinida com sucesso!'}">
          {{ mensagemErro }}
        </div>

      </div>

      <div class="button-container">
        <ion-button
          class="login-button"
          expand="block"
          (click)="redefinirSenha()">
          salvar
        </ion-button>
      </div>

    </div>
  </div>
</ion-content>