<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goToHome()" fill="clear">
        <ion-icon name="arrow-back-outline" class="seta-voltar"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" scroll-y="false">
  <div class="login-container">
    <div class="content-wrapper">
      <div class="logo-container">
        <div class="logo-circle">
          <ion-icon name="paw" class="logo-icon"></ion-icon>
        </div>
      </div>

      <h1 class="login-title">Login</h1>

      <div class="form-container">
        <!-- CPF -->
        <div class="input-group">
          <ion-input 
            class="custom-input" 
            placeholder="CPF" 
            fill="outline"
            type="text"
            [(ngModel)]="usuario"
            (ionInput)="maskCPF()"
            (keypress)="somenteNumeros($event)"
            maxlength="14">
          </ion-input>
        </div>

        <!-- Senha -->
        <div class="input-group">
          <ion-input 
            class="custom-input" 
            placeholder="Senha" 
            fill="outline"
            type="password"
            [(ngModel)]="senha">
          </ion-input>
        </div>

        <!-- Esqueci a senha -->
        <div class="forgot-password">
          <span (click)="goToRecuperarSenha()" class="forgot-link">
            Esqueci a senha
          </span>
        </div>
      </div>

      <div class="button-container">
        <ion-button 
          class="login-button" 
          expand="block" 
          shape="round"
          (click)="login()">
          Entrar
        </ion-button>

        <div class="no-account">
          <span (click)="goToCadastroPage()">Não tenho conta</span>
        </div>
      </div>
    </div>
  </div>
</ion-content>
