// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
    /* Força fundo branco em todo o app */
    --ion-background-color: #ffffff;
    --ion-background-color-rgb: 255, 255, 255;
  
    /* Aqui você pode deixar as cores que já existiam */
    --ion-color-primary: #3880ff;
    --ion-color-primary-rgb: 56, 128, 255;
  }