#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
}

.logo1 {
  width: 380px;
  height: auto;
  margin-bottom: 20px;
}
