<ion-header>
  <ion-toolbar class="toolbar-custom">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs"></ion-back-button>
    </ion-buttons>
    <ion-title>Nova Postagem</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="container">

    <!-- CABEÇALHO BONITO -->
    <div class="intro">
      <h2>Criar Postagem</h2>
      <p>Escolha o tipo de publicação para continuar</p>
    </div>

    <!-- SELECT ESTILIZADO -->
    <ion-card class="select-card">

      <div class="select-wrapper">

        <div class="icon-box">
          <ion-icon name="paw-outline"></ion-icon>
        </div>

        <ion-select placeholder="Selecione o tipo de postagem" interface="popover" (ionChange)="mudarTipo($event)">

          <ion-select-option value="adocao">Adoção</ion-select-option>
          <ion-select-option value="doacao">Doação</ion-select-option>
          <ion-select-option value="denuncia">Denuncia</ion-select-option>

        </ion-select>

      </div>

    </ion-card>

    <!-- CAMPOS DINÂMICOS -->

    <div *ngIf="tipoSelecionado">
      <div class="campo">
        <label>Titulo:</label>
        <ion-input></ion-input>
      </div>
    </div>

    <!-- 🔹 ADOÇÃO -->
    <div *ngIf="tipoSelecionado === 'adocao'">

      <div class="campo">
        <label>Raça do animal:</label>
        <ion-input></ion-input>
      </div>

      <div class="campo-select">
        <ion-select placeholder="Gênero">
          <ion-select-option value="macho">Macho</ion-select-option>
          <ion-select-option value="femea">Fêmea</ion-select-option>
          <ion-select-option value="dois">Macho/Fêmea</ion-select-option>
        </ion-select>
      </div>

      <div class="campo">
        <label>Idade do animal:</label>
        <ion-input type="number"></ion-input>
      </div>

    </div>


    <!-- 🔹 PERDIDO -->
    <div *ngIf="tipoSelecionado === 'doacao'">

      <div class="campo">
        <label>Local: </label>
        <ion-input></ion-input>
      </div>

      <div class="campo">
        <label>Contato: </label>
        <ion-input></ion-input>
      </div>

    </div>


    <!-- 🔹 ENCONTRADO -->
    <div *ngIf="tipoSelecionado === 'denuncia'">

      <div class="campo">
        <label>Local:</label>
        <ion-input></ion-input>
      </div>

      <div class="campo">
        <label>Estado do animal:</label>
        <ion-input></ion-input>
      </div>

    </div>


    <!-- FOTO (aparece para todos) -->
    <div *ngIf="tipoSelecionado">

      <div class="campo">
        <label>Foto:</label>

        <input type="file" accept="image/*" (change)="selecionarFoto($event)" #fileInput style="display: none;" />

        <div class="foto-box" (click)="fileInput.click()">

          <ion-icon *ngIf="!fotoPreview" name="cloud-upload-outline" size="large">
          </ion-icon>

          <img *ngIf="fotoPreview" [src]="fotoPreview" alt="Foto selecionada" class="preview-img" />

        </div>
      </div>

      <div class="campo">
        <label>Descrição:</label>
        <ion-textarea></ion-textarea>
      </div>

      <div class="btn-area">
        <ion-button class="btn-postar">
          Postar
        </ion-button>
      </div>

    </div>

  </div>

</ion-content>