<ion-header>
  <ion-toolbar color="success">
    <ion-title>Adote</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="search-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="page-content">

  <!-- Lista de cards -->
  <div class="cards-wrapper">
    <!-- Card Pitbull -->
    <ion-card>
      <ion-card-header class="card-header">
        <div class="card-title">
          <span class="animal">Pitbulls - Ambos Gêneros</span>
          <span class="idade">1 ano</span>
        </div>
      </ion-card-header>
      <ion-img src="https://placedog.net/500?id=10"></ion-img>
      <ion-card-content>
        Minha cachorra deu muita cria e eu não tenho como cuidar de todos os filhotes, então estou coloca...
      </ion-card-content>
    </ion-card>

    <!-- Card Maritaca -->
    <ion-card>
      <ion-card-header class="card-header">
        <div class="card-title">
          <span class="animal">Maritaca - Macho</span>
          <span class="idade">3 anos</span>
        </div>
      </ion-card-header>
      <ion-img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/23/Psittacara_leucophthalmus-2.jpg/320px-Psittacara_leucophthalmus-2.jpg"></ion-img>
      <ion-card-content>
        Eu comprei uma maritaca achando que ia ser legal, mas meu vizinho de baixo reclama do barulho...
      </ion-card-content>
    </ion-card>

    <!-- Card Gato -->
    <ion-card>
      <ion-card-header class="card-header">
        <div class="card-title">
          <span class="animal">Gato - Macho</span>
          <span class="idade">6 meses</span>
        </div>
      </ion-card-header>
      <ion-img src="https://placekitten.com/500/400"></ion-img>
      <ion-card-content>
        A gata da minha irmã deu cria e ela não quer mais gatos, estamos doando...
      </ion-card-content>
    </ion-card>
  </div>

  <!-- FAB central (flutuante) -->


</ion-content>

<ion-footer>
  <ion-toolbar class="app-footer">
    <div class="footer-left">
  <nav class="bottom-nav">
      <a href="#" class="nav-item active">
        <ion-icon name="heart"></ion-icon>
        <span>Adoções</span>
      </a>
      
      <a href="/front-tcc/src/app/tab2/tab2.page.html" class="nav-item">
        <ion-icon name="cash-outline"></ion-icon>
        <span>Doações</span>
      </a>
      
      <button class="add-button">
        <ion-icon name="add"></ion-icon>
      </button>
      
      <a href="#" class="nav-item">
        <ion-icon name="chatbubble-outline"></ion-icon>
        <span>Denúncias</span>
      </a>
      
      <a href="#" class="nav-item">
        <ion-icon name="person-outline"></ion-icon>
        <span>Perfil</span>
      </a>
    </nav>
  </div>
  </ion-toolbar>
</ion-footer>