#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 230px;
}

.logo1 {
  width: 270px;
  height: auto;
  margin-bottom: 20px;
}

